/* variables.css ou global.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --ion-font-family: "Inter", sans-serif;
  --cor-principal: #dd2273;
  --cor-secundaria: #720079;
  --cor-secundaria-hover: #3d0341;
  /* --cor-fundo: #f5f7fa; */
  --cor-fundo: #fff;
  /* Define a variável de cor */

  --ion-color-primary: var(--cor-principal); /* Cor principal (rosa) */
  --ion-color-primary-rgb: 221, 34, 115;
  --ion-color-primary-contrast: #ffffff; /* Cor do texto (branco) */
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c21e65; /* Tom mais escuro */
  --ion-color-primary-tint: #e03881; /* Tom mais claro */

  --ion-color-secondary: var(--cor-secundaria); /* Roxo */
  --ion-color-secondary-rgb: 114, 0, 121;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #64006a;
  --ion-color-secondary-tint: #801a86;

  --ion-background-color: #fff;
}

/* Estilizando o IonToolbar */
ion-toolbar {
  --background: var(--cor-principal);
  --color: #ffffff;
  --border-color: #000000;
}

ion-toolbar chat-input-toolbar {
  background-color: white;
}

/* Centralizando o IonTitle */
ion-toolbar ion-title {
  text-align: center;
  width: 100%;
  position: relative;
  font-weight: 800;
}

ion-tab-bar {
  --background: white;
  --color: white;
  --color-selected: #ffffff;
  --ion-color-primary: #ffffff;
  border: #cccccc;
  box-shadow: 0px 0px 20px -12px rgba(0, 0, 0, 1.25);
}

ion-tab-button {
  --color: var(--cor-principal);
  /* Cor do texto */
  --color-selected: var(--cor-secundaria);
  /* Cor do texto quando ativo */
  --ripple-color: rgba(255, 255, 255, 0.3);
  /* Cor do efeito ripple */
}

:host(.button-solid) {
  --background: #24ce9e;
  --color: var(--ion-color-primary-contrast, #fff);
}

native-wrapper.sc-ion-input-ios {
  --background: var(--cor-principal);
}

@media (prefers-color-scheme: dark) {
  :root.md,
  :root,
  :host {
    --ion-font-family: "Inter", sans-serif;
    --cor-principal: #dd2273;
    --cor-secundaria: #720079;
    --cor-secundaria-hover: #3d0341;
    /* --cor-fundo: #f5f7fa; */
    --cor-fundo: #fff;
    /* Define a variável de cor */

    --ion-color-primary: var(--cor-principal); /* Cor principal (rosa) */
    --ion-color-primary-rgb: 221, 34, 115;
    --ion-color-primary-contrast: #ffffff; /* Cor do texto (branco) */
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #c21e65; /* Tom mais escuro */
    --ion-color-primary-tint: #e03881; /* Tom mais claro */

    --ion-color-secondary: var(--cor-secundaria); /* Roxo */
    --ion-color-secondary-rgb: 114, 0, 121;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #64006a;
    --ion-color-secondary-tint: #801a86;

    --ion-background-color: #fff;

    --ion-item-background: #fff;
    --ion-item-color: #000;
  }
}
