.voltar-seta {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  color: #f0f0f0; /* deixa a seta branca */
  cursor: pointer;
  z-index: 1000;
}

.custom-background {
  --background: #ffffff; /* Fundo branco */
}
