.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100dvh;
    background-color: var(--cor-principal);
}

.login-box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    text-align: center;
    gap: 30px;
    background-color: white;
    height: 70vh;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: black;
    -moz-box-shadow: 0px -2px 30px -2px rgba(84, 66, 90, 1);
    -webkit-box-shadow: 0px -2px 38px -2px rgba(84, 66, 90, 1);
    -moz-box-shadow: 0px -2px 38px -2px rgba(84, 66, 90, 1);
    box-shadow: 0px -2px 38px -2px rgba(84, 66, 90, 1);
    justify-content: center;
    transition: height 0.7s ease;
}


.login-box div {
    animation: fadein 1s ease;
}

@keyframes fadein {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.login-box.full {
    height: 96vh;
}


h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
}

.login-title {
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 2rem;
    animation: fadein 1s ease;

}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    color: #333;
}

.input-group input {
    color: #333;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    background-color: #dddddd80;
    padding: 1.1rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 16px;
}

.input-group input:focus {
    border-color: var(--cor-secundaria);
    outline: none;
}

/* .Input-Login {
    color: #333 !important;
} */


.login-button {
    width: 100%;
    padding: 10px 0;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e4124f;
}

.login-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.signup-prompt {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.signup-link {
    color: var(--cor-principal);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.signup-link:hover {
    color: #e4124f;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-container input {
    flex: 1;
}

.toggle-password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #6b6b6b;
    font-size: 1.2rem;
}