.body-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.custom-background {
    --background: #f7fafc;
}

.container {
    display: flex;
    flex-direction: column;
}

.category-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 45vh;
    /* gap: 20px; */
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-inline: 15px;
    padding-bottom: 16px;
}

.category-button {
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--cor-principal);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.category-button:hover {
    background-color: #e0e0e5;

}

.category-button:focus {
    background-color: var(--cor-secundaria);
    outline: 3px solid #ffffff;
    width: 62px;
    height: 62px;
}

.category-button IonIcon {
    color: #6b6b6b;
    font-size: 10rem;
}

.button-label {
    font-size: 10px;
    color: #333;
    margin-top: 4px;
    text-align: center;
    position: absolute;
    bottom: -15px;
}

/* .background-image-tab1 {
    position: absolute;
    width: 80%;
    opacity: 0.3;
    bottom: 50%;
    left: 80%;
    transform: translateX(-50%) translateY(-5%) scale(1);
    z-index: -1;
} */