/* Cabeçalho com gradiente */
.header-gradient {
  --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  --color: white;
}

ion-toolbar {
  --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  --color: #fff;
}

.title-centered {
  text-align: center;
  font-weight: bold;
}

/* Corpo */
.body-feed {
  padding: 16px;
}

/* Carrossel com borda arredondada */
.carrossel-wrapper {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto;
  max-width: 23rem; /* Garante que o carrossel respeite a largura definida */
  width: 100%; /* Permite responsividade */
}

/* Seções de categoria */
.categoria-section {
  margin-bottom: 24px;
}

.categoria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 4px;
}

.categoria-title {
  color: #720079;
  font-size: 18px;
  margin: 0;
}

.ver-todos {
  font-size: 14px;
  color: #720079;
  cursor: pointer;
}

.categoria-cards {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.categoria-cards::-webkit-scrollbar {
  display: none;
}