.header-gradient {
  --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  --color: white;
}

ion-toolbar {
  --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  --color: #fff;
}

.title-centered {
  text-align: center;
  font-weight: bold;
}

.body-feed {
  padding: 0px;
}

/* Dark theme: fundo preto na Home */
body.dark-theme .custom-background {
  --background: #000000;
  background: #000000;
}

.carrossel-wrapper {
  width: 100vw;  
  margin-left: calc(-50vw + 50%);  
  margin-right: calc(-50vw + 50%);
  margin-top: 0;
  margin-bottom: 35px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;

  overflow: hidden;
}

.categoria-section {
  padding: 0 16px;
  margin-bottom: 24px;
}

.header-gradient {
  --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  --color: white;
}

ion-toolbar {
  --background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  --color: #fff;
}

.title-centered {
  text-align: center;
  font-weight: bold;
}

.categoria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 4px;
}

.categoria-title {
  color: #720079;
  font-size: 18px;
  margin: 0;
}

.ver-todos {
  font-size: 14px;
  color: #720079;
  cursor: pointer;
}

.categoria-cards {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.categoria-cards::-webkit-scrollbar {
  display: none;
}
