.chat-content {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    overflow-y: auto;
    background-color: #f1f1f1;
}

.chat-content::-webkit-scrollbar {
    display: none;

}

.messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
    justify-content: flex-end;
    background-color: #f1f1f1;
}



.messages-container::-webkit-scrollbar {
    display: none;

}

.message-bubble {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    word-wrap: break-word;
}

.sent {
    align-self: flex-end !important;
    background-color: #007aff;
    color: white;
    border-top-right-radius: 0;
}


.received {
    align-self: flex-start !important;
    background-color: #f1f1f1;
    color: black;
    border-top-left-radius: 0;
}

.received p {
    text-align: start;
}

.sent p {
    color: white !important;
    text-align: end;
}


.timestamp {
    font-size: 10px;
    opacity: 0.6;
    display: block;
    text-align: right;
}

.no-messages {
    text-align: center;
    color: gray;
    margin-top: 20px;
}

.chat-input-toolbar {
    display: flex;
    padding: 10px;
}