.carrossel-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;

  overflow: hidden; 
}
.carrossel-container .swiper-slide,
.carrossel-container img {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}


.carrossel-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (min-width: 768px) {
  .carrossel-image {
    aspect-ratio: 16 / 9;
  }
}

.carrossel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 10px;
  background: linear-gradient(
    to top,
    rgba(114, 0, 121, 1),
    rgba(114, 0, 121, 0.9),
    rgba(114, 0, 121, 0.7),
    transparent
  );




  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.carrossel-title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 90%;
}

.swiper-pagination {
  position: relative;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #ffc0cb !important;
  opacity: 0.7;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background-color: #800080 !important;
  opacity: 1;
}
