.carrossel-container {
    max-width: 45vh;
    width: 23rm;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 23px 15px;
    position: relative;
}


.carrossel-image {
    width: 45vh;
    height: 23vh;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}


.carrossel-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
}


.carrossel-title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: var(--cor-secundaria) !important;
    opacity: 1;
}