.expanded-post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--cor-fundo);
}

.expanded-post {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.expanded-post h2 {
  color: #303030;
  font-family: var(--ion-font-family);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: normal;
}

.expanded-post p {
  color: #000000;
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expanded-post img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
  object-fit: cover;
}

.favorite-icon {
  font-size: 24px;
  color: #c3007a; /* Rosa para não selecionada */
  background-color: #fff0f5; /* Fundo rosa claro */
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.add-comment input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  border-bottom: 2px solid #720079;
  background-color: #ffffff;
  color: #333;
  font-size: 0.9rem;
  min-width: 0;
}

.add-comment input:focus {
  outline: none;
  border: 1px solid #E0E0E0;
  border-bottom: 2px solid #720079;
}

.add-comment input::placeholder {
  font-size: 0.9rem;
  color: #E0E0E0;
}

.add-comment button {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #c3007a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  flex-shrink: 0;
  min-width: fit-content;
}

.add-comment button:hover {
  background-color: #a1005f;
}

/* Caixa de comentários */
.modal-comments {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.comments-container {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 6px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #E0E0E0 #f3f3f3; /* Firefox: cinza escuro no thumb, cinza claro no fundo */
}

/* Scrollbar no Chrome/Edge */
.comments-container::-webkit-scrollbar {
  width: 6px;
}

.comments-container::-webkit-scrollbar-thumb {
  background-color: #E0E0E0; /* 👈 barrinha cinza escuro */
  border-radius: 10px;
}

.comments-container::-webkit-scrollbar-track {
  background: #f3f3f3; /* 👈 fundo cinza claro */
}

.favorite-icon:hover {
  color: #a1005f;
  background-color: #ffe83e;
}

.favorite-icon.favorited {
  color: #ffd700;
  background-color: #fffacd;
}

.favorite-icon.favorited:hover {
  color: #ffcc00;
  background-color: #fff8dc;
}