.feed-container {
  padding: 16px;
}

.feed-posts {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.feed-container.horizontal .feed-posts {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 12px;
  flex-wrap: nowrap; 
}

.feed-posts > * {
  flex: 0 0 auto; 
  width: 300px; 
  background-color: #fffffffd;
  border-radius: 8px; 
  padding: 8px; 
}

.feed-posts::-webkit-scrollbar {
  height: 8px;
}

.feed-posts::-webkit-scrollbar-thumb {
  background-color: #720079;
  border-radius: 8px;
}

.feed-posts::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
