/* Estilos do Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out forwards;
    padding-bottom: 50px;
    }

body.dark-theme .modal-content {
  background-color: #1e1e1e;
  color: #eaeaea;
  border: 1px solid #2a2a2a;
  box-shadow: none;
}

body.dark-theme .modal-header h3 {
  color: #eaeaea;
}
.modal-content {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 20rem;
    max-height: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h3 {
    margin: 0;
    font-size: 20px;
    color: black;
}

.modal-body {
    margin-top: 15px;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.cancel-btn,
.confirm-btn {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.cancel-btn {
    background-color: #7f7f7f;
    border: none;
    color: white;
}

.confirm-btn {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
}

.cancel-btn:hover {
    background-color: #a8a8a8;
}

.confirm-btn:hover {
    background-color: var(--cor-secundaria-hover);
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;

}

.close-icon {
    font-size: 24px;
    color: #333;
    padding-top: 0.5rem;
}

.slideUp {
    animation: slideUp 0.4s ease-out forwards;
}

.slideDown {
    animation: slideDown 0.4s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        background-color: rgba(0, 0, 0, 0.4);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }
}