/* contêiner principal */
.post-container {
    display: flex;
    width: 23rem;
    height: 23rm;
    padding: 25px 23px;
    flex-direction: column;
    align-items: flex-center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F8EBF3;
}

/* imagem */
.post-image {
    width: 100%;
    height: auto;
    max-height: 15rem;
    border-radius: 20px;
    object-fit: cover;
}

/* conteúdo */
.post-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 1rem;
    padding-top: 1rem;
    gap: 1px;
}

/* título */
.post-title {
    color: #720079;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

/* descrição */
.post-description {
    color: #4a5568;
    font-size: 1rem;
}

/* container do perfil */
.profile-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* imagem do perfil */
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* informações do perfil */
.profile-info {
    display: flex;
    flex-direction: column;
}

/* nome do perfil */
.profile-name {
    font-weight: bold;
    font-size: 14px;
}

/* email do perfil */
.profile-email {
    font-size: 12px;
    color: #666;
}

.post-comments {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.comment-item {
    display: flex;
    padding: 10px 9px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    margin-bottom: 10px;
    border-radius: 15px;
    background: rgba(188, 52, 134, 0.05);
}

.comment-item strong {
    font-size: 14px;
    color: #333;
}

.comment-item p {
    margin: 5px 0 0;
    color: #666;
}

.comments-count {
    color: #9F9F9F;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}