.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
   background-color: #FFF0F5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.modal-content {
  background: #FFF0F5; /* Rosa bem clarinho */
  border-radius: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

.modal-content p {
  margin: 10px 0;
  color: #000;
  font-size: 1rem;
  display: block;
  white-space: pre-wrap;
}

.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.close-btnX {
 position: absolute;
  top: 12px;
  right: 12px;
  background-color: #dd2273;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 36px;
  height: 36px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.2s;
}


.modal-comments {
  margin-top: 20px;
}

.modal-comments h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.add-comment {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  padding: 8px;
  border-bottom: 2px solid #720079;
  border-radius: 10px;
    border: 1px solid #E0E0E0;
  
}

.add-comment input {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #E0E0E0; /* Borda cinza clarinha nas laterais e topo */
  border-bottom: 2px solid #720079; /* Linha roxa na parte inferior sempre visível */
  background-color: #720079;
  color: #c3007a;
}

.add-comment input:focus {
  outline: none; /* Remove a borda padrão de foco */
  border: 1px solid #E0E0E0; /* Mantém a borda cinza nas laterais e topo */
  border-bottom: 2px solid #720079; /* Mantém a linha roxa na parte inferior */
}

.add-comment input::placeholder {
  font-size: 0.9rem;
  color: #888888bd;
}

.add-comment button {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #c3007a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.add-comment button:hover {
  background-color: #a1005f;
}

.sem-comentarios {
  color: #a0a0a0;
  font-size: 0.9rem;
}
.favorite-icon {
    font-size: 24px;
    color: #c3007a; /* Rosa para não selecionada */
    background-color: #fff0f5; /* Fundo rosa claro */
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    z-index: 10;
}

.favorite-icon:hover {
    color: #a1005f; /* Rosa mais escuro no hover */
    background-color: #ffe4e1; /* Fundo rosa um pouco mais escuro */
}

.favorite-icon.favorited {
    color: #ffd700; /* Amarelo para selecionada */
    background-color: #ffe4e1; /* Fundo amarelo claro */
}

.favorite-icon.favorited:hover {
    color: #ffcc00; /* Amarelo mais escuro no hover */
    background-color: #ffe4e1; /* Fundo amarelo um pouco mais escuro */
}