.comment-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border-bottom: solid #dddddd;
    margin-bottom: 10px;
    max-width: 100%;
    overflow-wrap: break-word;
    gap: 6px;
}

.comment-item p {
    margin: 5px 0 0;
    color: #000000; 
}

.toggle-expand {
    background: none;
    border: none;
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    margin-top: 5px;
    align-self: flex-start;
}

.comment-date {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

body.dark-theme .comment-item {
    border-bottom: solid #333;
}

body.dark-theme .comment-item p {
    color: #ffffff !important;
}

body.dark-theme .comment-date {
    color: #b0b0b0;
}

[data-theme="dark"] .comment-item {
    border-bottom: solid #333;
}

[data-theme="dark"] .comment-item p {
    color: #ffffff !important; 
}

[data-theme="dark"] .comment-date {
    color: #b0b0b0;
}